<!DOCTYPE html>
<html>
<head>
  <title>Villager</title>
  <style>
    body, html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
    .hex-button {
      width: 200px;
      height: 200px;
      position: absolute;
    }
  </style>
</head>
<body>
  <h1>Welcome to Villager</h1>
  <p>This is the homepage of your new Rails application.</p>

  <%= render partial: 'hex_container' %>

  <%= link_to 'home', root_path('test'), method: :post %>
</body>
</html>