<!DOCTYPE html>
<html>
<head>
  <title>Villager</title>
</head>
<body>
  <h1>Welcome to Villager</h1>
  <p>This is the homepage of your new Rails application.</p>

  <%= render partial: 'hex_container' %>

  <%= link_to 'home', root_path('test'), method: :post %>
</body>
</html>
