<div data-controller="build">
  <button data-build-target="buildButton" id="build-button" data-test="build-button">Build</button>
  <div data-build-target="buildDropdown" id="build-dropdown" style="display: none;">
    <%= form_with model: [@village, VillageBuilding.new], local: true do |form| %>
      <%= form.collection_select :building_id, @buildings, :id, :name, prompt: "Select a building" %>
      <%= form.submit "Build", data: { test: "form-submit-button" } %>
    <% end %>
  </div>
</div>