<div id="resources-list-content" data-test="resources-list">
  <ul>
    <% village_resources.each do |resource| %>
      <li><%= resource.resource.name %>: <%= resource.count %></li>
    <% end %>
  </ul>
</div>
