<%= turbo_stream.replace "built-buildings" do %>
  <div id="built-buildings">
    <%= render 'villages/built_buildings', buildings: @village.buildings %>
  </div>
<% end %>

<%= turbo_stream.replace "resources-list" do %>
  <div id="resources-list">
    <%= render 'villages/resources_list', village_resources: @village.village_resources %>
  </div>
<% end %>